*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
}

header{
    position: fixed;
    top: 0;
    min-height: 75px;
    padding: 0 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #eee;
  }

.logo{
    width: 60vw
}

@media (max-width: 650px) {
    #features {
      margin-top: 0;
    }
  }

  nav > ul{
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
